language: sh

before_deploy:
  - find . -not -name '.*' -maxdepth 1 -type d > dirs

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: false
  on:
    branch: master
